.about{

  .about_header_pic{
    width: 100%;
    height:290px;
    position: relative;
    justify-content: center;
    display: flex;
    display: -ms-flexbox;
    background: url(../images/about/about_top.jpg) center no-repeat;
    overflow: hidden;
    .about_header_bg{
      margin-top: 70px;
      background: url(../images/about/img2+.png) center no-repeat;
      width: 1000px;
      height: 100px;
      background-size: 100%;
      font-size: 0;
      display: inline;
      color: white;
      p:nth-child(1){
        font-size: 26px;
        margin: 16px 0 0 50px;

      }
      p:nth-child(2){
        color: #F9F9F9;
        font-size: 14px;
        margin-top: 8px;
        margin-left: 78px;

      }
    }
  }
  .about_zendo {
    overflow: hidden;
    text-align: center;
    margin-top: 55px;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    .about_pic {
      margin: 0 auto;
      width: 660px;
      height: 210px;



      li {
        list-style: none;
        float: left;
      }
      li:nth-child(1) {
        img {
          margin-top: 43px;
          width: 120px;
          height: 120px;
        }
      }
      li:nth-child(2) {
        img {
          width: 206px;
          height: 206px;
          margin: 0 107px 0 107px;
        }
      }
      li:nth-child(3) {
        img {
          margin-top: 43px;
          width: 120px;
          height: 120px;
        }
      }
    }
    .ownValue {

      margin-top: 75px;

      height: 200px;
      margin-bottom: 150px;
      .ownValue1{
        width:935px;
        margin: 0 auto;
        p{
          line-height: 25px;
        }
        p:nth-child(1) {

          font-size: 28px;
          color: #000000;
        }
        p:nth-child(2) {
          margin-top: 60px;
          font-size: 16px;
          color: #666666;
        }
        p:nth-child(3) {
          font-size: 16px;
          color: #666666;
        }
        p:nth-child(4) {
          margin-top: 30px;
          font-size: 16px;
          color: #666666;
        }
        p:nth-child(5) {
          font-size: 16px;
          color: #666666;
        }
      }

    }
    .swiper-container {
      width: 615px;
      height: 150px;
      margin: 0 auto;
      position: relative;
      .swiper-wrapper{
        margin-left: 30px;
        .swiper-slide {
          float: left;
          width: 755px;
          height: 72px;
          background: #fff;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .about_content_pic {
            float: left;
            font-size: 0;
            img {
              width: 72px;
              height: 72px;
            }
          }
          .about_points {
            margin-left: 20px;
            height: 72px;
            float: left;
            text-align: left;
            p:nth-child(1) {
              color: #00a0f6;
              font-size: 16px;
              text-align: left;
            }
            p:nth-child(2) {
              margin-top: 12px;

              color: #666666;
              font-size: 14px;
            }
            p:nth-child(3) {
              color: #666666;
              font-size: 14px;
              text-align: left;
              margin-top: 3px;
            }
          }
        }
      }

      .pagination {
        font-size: 0;
        position: absolute;
        top:135px;
        z-index: 120;
        width: 100%;

      }
      .swiper-pagination-switch {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        background: white;
        margin: 0 5px;
        opacity: 0.8;
        border: 1px solid rgb(0,154,237);
        cursor: pointer;
      }
      .swiper-active-switch {
        background: rgb(0,154,237);
      }
    }



    .about_marketplace {

      margin: 65px 0 2px 0;

      font-size: 14px;
      color: #888;
      font-weight: 100;
    }
    .about_line{

      .about_line1{
        width: 378px;
        height: 7px;
        margin: 60px auto 45px auto;
        font-size: 0;
        img{

          height: 7px;
          width: 378px;

        }

      }


    }
    .about_zendo_info {

      height:125px;

      margin-top: 20px;
      p:nth-child(1) {
        font-size: 28px;

      }
      p:nth-child(2) {
        margin-top: 40px;
        font-size: 16px;
        color: #666666;
      }
      p:nth-child(3) {
        font-size: 16px;
        color: #666666;
        margin-top: 5px;
      }
    }
    .about_introduce {

      margin-top: 72px;
      font-size: 14px;
      color: #666666;

      ul {

        display: flex;
        height: 250px;
        margin: 0 auto;
        position: relative;
        li {
          width: 365px;
          height: 233px;
          list-style: none;
          float: left;
          padding: 0 10px;
          line-height: 20px;

          img {
            width: 64px;
            height: 64px;

          }

        }
        li:nth-child(1) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-137%, -50%);
          -ms-transform: translate(-137%, -50%);
          p:nth-child(2) {
            margin: 24px 0 33px 0;
            font-size: 20px;
            color: #0065c7;
          }

        }
        li:nth-child(2) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-48%, -50%);
          -ms-transform: translate(-48%, -50%);
          p:nth-child(2) {
            margin: 24px 0 33px 0;
            font-size: 20px;
            color: #0065c7;
          }

        }
        li:nth-child(3) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(40%, -50%);
          -ms-transform: translate(40%, -50%);
          p:nth-child(2) {
            margin: 24px 0 33px 0;
            font-size: 20px;
            color: #0065c7;
          }

        }
      }

    }
    .about_bom {

      margin-top: 88px;

      margin-bottom: 46px;
      display: inline-block;
      ul{
        width: 850px;
        height: 60px;
        margin: 0 auto;

      }
      li {
        list-style: none;
        float: left;

      }
      li:nth-child(1) {
        width: 180px;
        height: 60px;
        background: url(../images/about/blog.png) center no-repeat;
        background-size: 100%;

        p {
          font-size: 16px;
          color: #ffffff;
          line-height: 60px;
          margin-left: 10px;
        }
      }
      li:nth-child(2) {
        width: 620px;
        height: 60px;
        margin-left: 40px;
        margin-top: 1px;
        line-height: 60px;
        p{
          font-size: 14px;
          color: #888;
          font-weight: 100;
        }
      }

    }

  }
}

