.info {
    height: 200px;
    list-style: none;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 58px auto 0;
    position: relative;
}

.home_center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -50%);
    -ms-transform: translate(-130%, -50%);
}

.home_center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.home_center3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(31%, -50%);
    -ms-transform: translate(31%, -50%);
}

.concept {
    list-style: none;
    overflow: hidden;
    height: 235px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    position: relative;
}
.concept li{
    height: 110px;
    padding: 24px 0;
    border: 5px solid transparent;
    font-size: 0;

    float: left;
}
.concept_center1{
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-167%, -50%);
    -ms-transform: translate(-167%, -50%);
}
.concept_center2{
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.concept_center3{
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(68%, -50%);
    -ms-transform: translate(68%, -50%);
}
.map {
    margin: 0 auto 76px auto;
    overflow: hidden;
    height: 265px;
    display: flex;
    justify-content: center;
    position: relative;
}

.place {
    float: left;
    width: 524px;
    height: 238px;
    border: 11px solid #EBF9FF;
    background: url(../images/trade/map.png) center no-repeat;
    background-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-95%, -50%);
    -ms-transform: translate(-95%, -50%);
}

.gift {
    float: left;
    width: 486px;
    height: 260px;
    background: #f6f7fb;
    margin-left: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(4%, -50%);
    -ms-transform: translate(4%, -50%);
}

.p1 {
    margin-top: 84px;
    font-size: 18px;
    color: rgb(16, 110, 202);
}

.p2 {
    line-height: 20px;
    width: 370px;
    font-size: 16px;
    padding: 0 10px;
    margin: 36px auto 0 auto;
    color: rgb(120, 120, 120)
}

.tactics .p2 {

    font-size: 16px;
    color: #666666;
    line-height: 20px;
    margin-top: 7px;

}

.tactics_way {
    margin: 60px auto;
    height: 280px;
    font-size: 0;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.trade .technology .tactics .tactics_way li {
    list-style: none;
    float: left;
    height: 192px;
    font-size: 0;
    border: 5px solid transparent;
    text-align: center;

}

.trade_center1 {
    position: absolute;
    width: 300px;

    top: 50%;
    left: 50%;
    transform: translate(-155%, -50%);
    -ms-transform: translate(-155%, -50%);
}

.trade_center2 {
    position: absolute;
    width: 300px;

    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    -ms-transform: translate(-47%, -50%);
}

.trade_center3 {
    position: absolute;
    width: 300px;

    top: 50%;
    left: 50%;
    transform: translate(53%, -50%);
    -ms-transform: translate(53%, -50%);
}

.about .about_zendo .about_introduce ul li {
    width: 308px;
    height: 233px;
    list-style: none;
    float: left;
    padding: 0 10px;
    line-height: 20px;
}

.about_center1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-152%, -50%);
    -ms-transform: translate(-152%, -50%);
}

.about_center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.about_center3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(53%, -50%);
    -ms-transform: translate(53%, -50%);
}
.about_header_bg{

    background: url(../images/about/img2+.png) center no-repeat;
    width: 1000px;
    height: 100px;
    background-size: 100%;
    font-size: 0;
    display: inline;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.trade_header_bg{
    width: 1000px;
    height: 100px;
    background: url(../images/trade/img2+.png) center no-repeat;
    background-size: 100%;
    font-size: 0;
    color: white;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.fix-header-nav{
    height: 14px;
    width: 270px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(35%, -50%);
    -ms-transform: translate(35%, -50%);
}